{% extends "ecommerce_app/layout.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <h1>Welcome to Michael's</h1>
            <h2>Your one-stop-shop for everything!</h2>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-sm-6 text-center">
            <h3>Featured</h3>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1538577880403-f9998e75dd06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="Couch Cushions">
                    <div class="card-body">
                      <h5 class="card-title">Couch Cushions</h5>
                      <p class="card-text">$19.99</p>
                      <a href="#" class="btn btn-outline-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1583845112239-97ef1341b271?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="Table Set">
                    <div class="card-body">
                      <h5 class="card-title">Table Set</h5>
                      <p class="card-text">$299.99</p>
                      <a href="#" class="btn btn-outline-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1567002260451-50e05a6b031a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="Bathtub">
                    <div class="card-body">
                      <h5 class="card-title">Bathtub</h5>
                      <p class="card-text">$999.99</p>
                      <a href="#" class="btn btn-outline-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
