{% extends "ecommerce_app/layout.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <h1 id="searched-term"></h1>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-sm-6 text-center">
            <h3>Featured</h3>
        </div>
    </div>
    <div class="container d-flex justify-content-around">
        <div class="row">
            {% for card in content %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{card.img}}" class="card-img-top" alt="Featured Item">
                    <div class="card-body">
                      <h5 class="card-title">{{card.item}}</h5>
                      <p class="card-text">{{card.price}}</p>
                      <a href="#" class="btn btn-outline-secondary">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}